body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.base{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 60vw;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, gray, white);
    border-radius: 10px;
    border
    border: 2px double black;
}
#leftArrow,#rightArrow{
    width: 10vw;
    height: 10vw;
    background-color: pink;
    border: 2px solid purple;
    text-align: center;
}
img{
    width: 100%;
}
@media(min-width: 750px){
    .base{
        display: flex;
        flex-direction: row;
        width: 650px;
        height: 450px;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to top, gray, white);
        border-radius: 10px;
        border
        border: 2px double black;
    }
    #leftArrow,#rightArrow{
        width: 50px;
        height: 50px;
        background-color: pink;
        border: 2px solid purple;
        text-align: center;
    }
}